/* Footer */
.lastDiv {
  height: 388px;
  box-sizing: border-box;
  display: flex;
  padding: 64px 213px;
  justify-content: center;
}

.lastDiv > div {
  width: 273px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 17px;
  font-size: 0.78em;
  color: rgb(104, 103, 103);
}

.lastDiv > div > a {
  color: rgb(104, 103, 103);
  text-decoration: none;
}

.lastDiv > div > p {
  font-size: 1.2em;
  color: black;
  margin-bottom: 7px;
  margin-top: 0px;
}

#div1 {
  padding: 0px 79px;
}

#div2 {
  padding: 0px 99px;
}

#div3 {
  padding: 0px 95px;
}

#div4 {
  padding: 0px 69px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#lastImg {
  width: 16px;
  margin-right: 14px;
}

#blackImg {
  width: 120px;
}

/* Help icon starts */

.helpIcon {
  position: fixed;
  bottom: 3%;
  right: 1.6%;
  width: 42px;
  border-radius: 50%;
  height: 42px;
  box-shadow: rgb(0 0 0 / 10%) -1px 0px 0px, rgb(0 0 0 / 15%) -3px 0px 9px;
}

.helpIcon > img {
  border-radius: 50%;
  width: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  #div4,
  #div1 {
    display: none;
  }
  .lastDiv {
    width: 50%;
  }
}
