<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Meal Delivery Service</title>
  <link
    rel="icon"
    href="https://assets-global.website-files.com/5d03b4e130118314af624b20/5ff746968ef71d4c780bf4a6_favicon_core.png"
    type="image/x-icon"
  />
  <link rel="stylesheet" href="./styles/navbar.css" />
  <link rel="stylesheet" href="./styles/index.css" />
  <link rel="stylesheet" href="./styles/footer.css" />
</head>
<html>
  <body>
    <!-- Navbar Starts -->
    <div id="navbar-container">
      <div id="pre-nav">
        <div id="pre-nav-left">
          <a href="index.html">
            <img
              src="https://assets-global.website-files.com/5d03b4e130118314af624b20/5fc4feea074f5b86a6c62285_freshly-logo-R.svg"
              alt="pre-nav-icon"
              id="pre-nav-icon-1"
            />
          </a>
        </div>
        <div id="pre-nav-right">
          <a href="index.html">
            <img
              src="https://assets-global.website-files.com/5d03b4e130118314af624b20/5f7b2e54745410836cfa3955_bizlogo_main-07.svg"
              alt="pre-nav-icon"
              id="pre-nav-icon-2"
            />
          </a>
        </div>
      </div>
      <div id="nav-container">
        <div id="nav-logo">
          <a href="index.html">
            <img
              src="https://assets-global.website-files.com/5d03b4e130118314af624b20/5fc4feea074f5b86a6c62285_freshly-logo-R.svg"
              alt="nav-branding"
              id="branding-logo"
            />
          </a>
        </div>
        <div id="nav-links">
          <a href="./pages/login.html" class="mobile-only-navlinks">Login</a>
          <a href="./pages/signup.html" class="mobile-only-navlinks">Signup</a>
          <a href="#">How It Works</a>
          <a href="#section4">Plans & Menu</a>
          <a href="#">How It Works</a>
          <a href="#">Gifts</a>
          <a href="#">Refer a friend</a>
          <a href="#">Help</a>
        </div>
        <div id="nav-buttons">
          <div id="login">
            <a href="./pages/login.html">Login</a>
          </div>

          <div id="signup">
            <a href="./pages/signup.html">
              <button id="signup-btn">Sign Up</button>
            </a>
          </div>
        </div>
        <div id="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </div>
    <!-- Navbar Ends -->

    <!-- Home Section Starts -->
    <div id="home-container">
      <!-- Section 1 -->
      <section id="section1">
        <div id="section1-left">
          <div class="section1-left-desc">
            <p>Delivered to you</p>
            <p>fresh, not frozen.</p>
          </div>
        </div>
        <div id="section1-right">
          <div class="section1-right-desc">
            <p>Balanced meals</p>
            <p>for busy lives.</p>
          </div>
          <div class="section1-right-button">
            <button class="btn-style-1">Explore Meals</button>
            <button class="btn-style-2" id="getstarted">Get Started</button>
          </div>
          <div class="section1-right-desc2">
            <p>
              Enjoy flexible weekly plans, with meals as low as
              <span class="italic-desc">$8.99/serving.</span> The
            </p>
            <p>bigger your box, the more you'll save!</p>
          </div>
        </div>
      </section>
      <!-- Section 1 Ends -->

      <!-- Section 2 Starts -->
      <section id="section2">
        <!-- Section 2-1 -->
        <div>
          <img
            src="https://uploads-ssl.webflow.com/5d03b4e130118314af624b20/62b0b19dbc5f55c4206158f7_choose-your-meals%20(1).svg"
            alt="icon1"
          />
          <p class="section2-title">Choose Your Meals</p>
          <div class="section2-desc">
            <p>Rotating menu of 50+</p>
            <p>balanced dishes.</p>
          </div>
        </div>

        <!-- Section 2-2 -->
        <div>
          <img
            src="https://uploads-ssl.webflow.com/5d03b4e130118314af624b20/62b0b19b358b954d12f769ba_we-cook-deliver%20(1).svg"
            alt=""
          />
          <p class="section2-title">We Cook & Deliver</p>
          <div class="section2-desc">
            <p>Fully-cooked meals</p>
            <p>sent fresh, not frozen.</p>
          </div>
        </div>

        <!-- Section 2-3 -->
        <div>
          <img
            src="https://uploads-ssl.webflow.com/5d03b4e130118314af624b20/62b0b19b53e85f79fe3374c5_chill-reheat.svg"
            alt=""
          />
          <p class="section2-title">Chill & Reheat</p>
          <div class="section2-desc">
            <p>Refrigerate meals &</p>
            <p>reheat in 3 minutes.</p>
          </div>
        </div>

        <!-- Section 2-4 -->
        <div>
          <img
            src="https://uploads-ssl.webflow.com/5d03b4e130118314af624b20/62b0b19b83b282277e15a7af_eat-repeat.svg"
            alt=""
          />
          <p class="section2-title">Eat & Repeat</p>
          <div class="section2-desc">
            <p>Change meals, skip a week,</p>
            <p>or cancel any time.</p>
          </div>
        </div>
      </section>
      <!-- Section 2 Ends -->

      <!-- Section 3 Starts -->
      <section id="section3">
        <div id="section3-container">
          <div id="section3-1">
            <p>On the menu</p>
          </div>
          <div id="section3-2">
            <p>
              Each Freshly meal is perfectly sized for 1 person to enjoy at 1
              sitting. Our fully -
            </p>
            <p>
              prepared meals are delivered fresh, and ready to eat in 3 minutes.
            </p>
          </div>
          <div id="section3-3">
            <div>
              <img
                src="https://assets-global.website-files.com/5d03b4e13011831ae4624b37/61063fef3319dbcfa7088dc3_production-meal-image-29fee2e7-8e88-4cd3-aad9-0e7d25671f7f.jpeg"
                alt="meal1"
                class="section3-3-img"
              />
              <p class="section3-3-p">Steak Peppercorn</p>
              <p class="section3-3-d">500 Cal | Gluten Free | Single-Serve</p>
            </div>

            <div>
              <img
                src="https://assets-global.website-files.com/5d03b4e13011831ae4624b37/61ff6b8686c6708c070e7d41_production-meal-image-e4122aa8-0fe7-4854-b6f5-e27e0c5be918.jpeg"
                alt="meal2"
                class="section3-3-img"
              />
              <p class="section3-3-p">Homestyle Chicken</p>
              <p class="section3-3-d">560 Cal | Gluten Free | Single-Serve</p>
            </div>

            <div>
              <img
                src="https://assets-global.website-files.com/5d03b4e13011831ae4624b37/61ff6b89b735739065897a4f_production-meal-image-c9eef45a-97a9-487c-9550-71488e5f639a.jpeg"
                alt="meal3"
                class="section3-3-img"
              />
              <p class="section3-3-p">Cauliflower Shell Beef</p>
              <p class="section3-3-d">490 Cal | Gluten Free | Single-Serve</p>
            </div>
          </div>

          <div id="section3-3">
            <div>
              <img
                src="https://assets-global.website-files.com/5d03b4e13011831ae4624b37/61ff6b8bdf3b65081fd159c6_production-meal-image-f0de55be-d691-4ade-bc26-b4a8aedaa1fe-p-500.jpeg"
                alt="meal1"
                class="section3-3-img"
              />
              <p class="section3-3-p">Sausage Baked Penne</p>
              <p class="section3-3-d">480 Cal | Gluten Free | Single-Serve</p>
            </div>

            <div>
              <img
                src="https://assets-global.website-files.com/5d03b4e13011831ae4624b37/61ff6b8e6dd23b60cb122654_production-meal-image-92ec0fc1-d352-4720-9b83-96798ab8d2de.jpeg"
                alt="meal2"
                class="section3-3-img"
              />
              <p class="section3-3-p">Savory-Sweet Chicken</p>
              <p class="section3-3-d">420 Cal | Gluten Free | Single-Serve</p>
            </div>

            <div>
              <img
                src="https://assets-global.website-files.com/5d03b4e13011831ae4624b37/610640046931cb5d54bd5472_production-meal-image-7a62bb89-9bcb-4f1f-9f0f-d8372698d48e-p-800.jpeg"
                alt="meal3"
                class="section3-3-img"
              />
              <p class="section3-3-p">Protein-Packed Chicken</p>
              <p class="section3-3-d">410 Cal | Gluten Free | Single-Serve</p>
            </div>
          </div>

          <div id="btn-container">
            <button class="view-plans-btn">View Plans & Menu</button>
          </div>
        </div>
      </section>
      <!-- Section 3 ends -->

      <!-- Section 4 starts -->
      <section id="section4">
        <div class="section4-1">
          <img
            src="https://assets-global.website-files.com/5d03b4e130118314af624b20/6192ce7669f68694a8b969af_Group%20(8).svg"
            alt="logo"
          />
        </div>
        <div class="section4-2">
          <h2 class="section4-2-title">Flexible plans that fit your life</h2>
          <p class="section4-2-desc">
            We offer anywhere from 4–12 meals per week, with meals as low as
            <strong>$8.99 each.</strong>
            <strong>The bigger your box, the more you’ll save</strong>—and you
            can always pause, cancel, or change your plan at any time.
          </p>
        </div>

        <div class="section4-3">
          <div>
            <img
              src="https://assets-global.website-files.com/5d03b4e130118314af624b20/6192cc9d75bbb20e8074e602_Rectangle%20108.jpg"
              alt="plan1"
              class="section4-3-plans"
            />
            <p class="section4-3-title">4-5 Meals</p>
          </div>

          <div>
            <img
              src="https://assets-global.website-files.com/5d03b4e130118314af624b20/6192cc9d5fc8ef6e6127d841_Rectangle%20108-1.jpg"
              alt="plan2"
              class="section4-3-plans"
            />
            <p class="section4-3-title">6-7 Meals</p>
          </div>

          <div>
            <img
              src="https://assets-global.website-files.com/5d03b4e130118314af624b20/6192cc9c24f1e287b2ea6a19_Rectangle%20108-2.jpg"
              alt="plan3"
              class="section4-3-plans"
            />
            <p class="section4-3-title">8-9 Meals</p>
          </div>

          <div>
            <img
              src="https://assets-global.website-files.com/5d03b4e130118314af624b20/6192cc9d58c6a6a96a2ad5ef_Rectangle%20108-3.jpg"
              alt="plan4"
              class="section4-3-plans"
            />
            <p class="section4-3-title">10-11 Meals</p>
          </div>

          <div>
            <img
              src="https://assets-global.website-files.com/5d03b4e130118314af624b20/6192cc9ccb70a3f88391e136_Rectangle%20108-4.jpg"
              alt="plan5"
              class="section4-3-plans"
            />
            <p class="section4-3-title">12 Meals</p>
          </div>
        </div>

        <div class="section4-4">
          <p>Shipping and tax added at checkout</p>
        </div>

        <div class="section4-5">
          <button class="btn-style-2" id="sign-up-now-btn">Sign Up Now</button>
        </div>
      </section>
      <!-- Section 4 Ends -->

      <!-- Section 5 Starts -->
      <section id="section5">
        <div>
          <img
            src="https://assets-global.website-files.com/5d03b4e130118314af624b20/5f523e435aee2e3a4ab03e6f_The_Huffington_Post_logo.svg"
            alt="company1"
          />
        </div>

        <div>
          <img
            src="https://assets-global.website-files.com/5d03b4e130118314af624b20/5f523e412d98cd166a6c84e6_logo-header.64f3bdc15b1f321829f9f30c7853a1469f469d71.svg"
            alt="company2"
          />
        </div>

        <div>
          <img
            src="https://assets-global.website-files.com/5d03b4e130118314af624b20/5f523e436b26e00a240533b1_Entrepreneur-01.svg"
            alt="company3"
          />
        </div>

        <div>
          <img
            src="https://assets-global.website-files.com/5d03b4e130118314af624b20/5f523e432759db28ffaf924f_w-g-logo-black.svg"
            alt="company4"
          />
        </div>

        <div>
          <img
            src="https://assets-global.website-files.com/5d03b4e130118314af624b20/5f523f552759db186baf93d2_techcrunch-seeklogo.com%20%5BConverted%5D.svg"
            alt="company5"
          />
        </div>

        <div>
          <img
            src="https://assets-global.website-files.com/5d03b4e130118314af624b20/5f523e434bbecc1909457f48_logo-header.aeb2e510354d524c42a87c5d0a97d0a73c5d7581.svg"
            alt="company6"
          />
        </div>
      </section>
    </div>

    <div id="footer-container"></div>
  </body>
</html>

<script src="./scripts/navbar.js"></script>
<script src="./scripts/index.js"></script>

<script type="module">
  import footer from "./scripts/footer.js";
  let footerContainer = document.getElementById("footer-container");
  footerContainer.innerHTML = footer();
</script>
