<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meal Delivery Service</title>
    <link
      rel="icon"
      href="https://assets-global.website-files.com/5d03b4e130118314af624b20/5ff746968ef71d4c780bf4a6_favicon_core.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <link rel="stylesheet" href="../styles/days.css" />
    <script
      src="https://kit.fontawesome.com/b5e607be6d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Navbar Starts -->
    <div id="navbar-container">
      <div id="nav-container">
        <div id="nav-logo">
          <a href="../index.html">
            <img
              src="https://assets-global.website-files.com/5d03b4e130118314af624b20/5fc4feea074f5b86a6c62285_freshly-logo-R.svg"
              alt="nav-branding"
              id="branding-logo"
            />
          </a>
        </div>
        <div id="nav-links">
          <a href="./plans.html"
            >Plans <i class="fa-solid fa-caret-right"></i
          ></a>
          <a href="./days.html" style="text-decoration: underline"
            >Day <i class="fa-solid fa-caret-right"></i
          ></a>
          <a href="#">Meals <i class="fa-solid fa-caret-right"></i></a>
          <a href="#">Checkout</a>
        </div>
        <div id="nav-buttons">
          <i class="fa-regular fa-circle-question"></i>
          <p id="customer-support">Customer Support</p>
        </div>
        <div id="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </div>
    <!-- Navbar Ends -->

    <div id="dateContainer">
      <div>
        <h1 id="headingText" style="margin: 2rem 0">Choose A Delivery Day</h1>
      </div>

      <div id="dateBox"></div>
      <div class="scrollText">Scroll for more delivery dates</div>
      <div>
        <button id="btn">Next</button>
      </div>
      <div id="deliveryText">
        <p>First Delivery Date:<span id="date"></span></p>
      </div>
    </div>
    <hr />

    <img src="../assets/common-questions.PNG" alt="" id="faq" />
  </body>
</html>

<script src="../scripts/navbar.js"></script>
<script src="../scripts/days.js"></script>
